.app-bar{
    background-color: #FFFFFF !important;
    color: #000 !important;
}
.container{
    justify-content: center;    

    & > p {
        padding: 20px;
        color: #000;
        text-decoration: none;
    }
    
}
.link{
    text-decoration: none;
    color: inherit;
}